version: '3.1'
services:
    mariadb-cart:
        container_name: mariadb-cart
        image: 'mariadb:latest'
        working_dir: /application
        volumes:
            - '.:/application'
        environment:
            - MARIADB_ROOT_PASSWORD=carrinho_root
            - MARIADB_USER=admin
            - MARIADB_PASSWORD=1234
        ports:
            - '11002:3306'
    phpmyadmin-cart:
        container_name: phpmyadmin-cart
        image: phpmyadmin:latest
        restart: always
        ports:
            - 11003:80
        environment:
            - PMA_ARBITRARY=1

    nginx-cart:
        container_name: nginx-cart
        image: 'nginx:alpine'
        working_dir: /application
        volumes:
            - '.:/application'
            - './phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf'
        ports:
            - '11000:80'

    php-fpm-cart:
        container_name: php-fpm-cart
        build: phpdocker/php-fpm
        working_dir: /application
        volumes:
            - '.:/application'
            - './phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/8.2/fpm/conf.d/99-overrides.ini'
