#-------#
# MARIADB #
#-------#
MARIADB_USER="admin"
MARIADB_PASSWORD="1234"
MARIADB_DATABASE="shopping_cart"
MARIADB_HOST="carrinho-de-compras_mariadb_1"
MARIADB_PORT="11002"
MARIADB_CHARSET="utf8"
MARIADB_COLLATION="utf8_unicode_ci"
